.form1 {
    margin-left: 30px;
    margin-top: 15px;
}

.takip {
    position: fixed;
    width: 500px;
    height: 410px;
    background-color: #463137ff;
    color: white;
    border: none;
    right: 11.65%;
    top: 17.3%;
    text-indent: 10px;
}
